name: Build & Verify

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    name: IDEA ${{ matrix.idea }} & JDK ${{ matrix.jdk }}
    strategy:
      fail-fast: false
      matrix:
        idea: [ '2025.3', '2025.3.1.1' ]
        jdk: [ '21' ]
        #os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{ matrix.jdk }}
        cache: gradle

    - name: Install D compiler
      uses: dlang-community/setup-dlang@v2

    - name: build & check
      env:
        ORG_GRADLE_PROJECT_ideaVersion: ${{ matrix.idea }}
      run: ./gradlew build check

    - name: Build Plugin
      env:
        ORG_GRADLE_PROJECT_ideaVersion: ${{ matrix.idea }}
      run: ./gradlew buildPlugin

    - name: Verify Plugin
      env:
        ORG_GRADLE_PROJECT_ideaVersion: ${{ matrix.idea }}
      run: ./gradlew verifyPlugin
