name: Publish plugin to the Jetbrains Marketplace

##
## Run publishPlugin task when a tag is created
##

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Install D compiler
        uses: dlang-community/setup-dlang@v2

      - name: Publish Plugin
        run: ./gradlew publishPlugin
        env:
          JETBRAINS_TOKEN: ${{ secrets.JETBRAINS_TOKEN }}
